body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e7f5f8;
}
.container {
    display: flex;
    width: 1300px;
    height: 600px;
    border: 2px solid black;
    background-color: #fff;
    position: relative;
}
button{
    cursor: pointer;
    border: 2px solid black; /* 굵기: 2px, 색상: 파란색 */
    border-radius: 4px; 
}
.left-container{
    width: 520px;
    position: relative;
}
.left-container > div {
    position: absolute;
    left: 50%;
    width: 416px;
    height: 150px;
    transform: translateX(-50%);
}
.my-posts{
    position: absolute;
    top: 50px;
    border: 2px solid black;
}
.liked-posts{
    position: absolute;
    top: 225px;
    border: 2px solid black;
}
.viewed-posts{
    position: absolute;
    bottom: 50px;
    border: 2px solid black;
}
.right-container{
    width: 780px;
    position: relative;
}
.back-button-container{
    position: absolute;
    width: 200px;
    height: 50px;
    right: 48px;
    top: 16px;
    display: flex;
    justify-content: space-between;
}
.back-button{
    width: 48%;
    height: 100%;
    font-size: larger;
    font-weight: bolder;
}
.my-account-info{
    position: absolute;
    top: 96px;
    right: 52px;
    width: 702px;
    height: 450px;
    border: 2px solid black;
}
table{
    margin-top: 32px;
    margin-left: 51px;
    width: 600px;
    height: 320px;
}
td > .table-div, .table-div-no-bold{
    margin-top: 4px;
    margin-left: 30px;
    width: 400px;
    height: 36px;
}
#userid-div{
    width: 100%;
}
.table-div {
    border: 2px solid black;
}
.table-div > span {
    width: 100%;
    height: 100%;
    margin-left: 8px;
    font-size: larger;
    font-weight: bolder;
}
.table-div-no-bold > input {
    padding-left: 8px;
    height: 94%;
    font-size: larger;
    font-weight: bolder;
    border-style: solid;
    border-radius: 4px;
    border-width: 2px;
    border-color: black;
}
.info-input{
    width: 97.5%;
}
.info-input-user-id{
    width: 77.5%;
}
.change-btn{
    width: 90px;
    height: 40px;
    font-size: medium;
    font-weight: bolder;
}
.account-info-update{
    position: absolute;
    right: 104px;
    bottom: 80px;
    width: 220px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.update-btn{
    width: 48%;
    height: 100%;
    font-weight: bolder;
    font-size: larger;
}